<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>foetus</string>
		<key>phoneticSymbol</key>
		<string>/&apos;fiːtəs/</string>
		<key>translation</key>
		<string>n. 胎儿；胚胎</string>
	</dict>
	<dict>
		<key>word</key>
		<string>merge</string>
		<key>phoneticSymbol</key>
		<string>/mɜːdʒ/</string>
		<key>translation</key>
		<string>n. 使(结合)</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aware</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;weə/</string>
		<key>translation</key>
		<string>adj. 知道的；意识到的</string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
</array>
</plist>
