<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>foetus</string>
		<key>phoneticSymbol</key>
		<string>/&apos;fiːtəs/</string>
		<key>translation</key>
		<string>n. 胎儿；胚胎</string>
	</dict>
	<dict>
		<key>word</key>
		<string>merge</string>
		<key>phoneticSymbol</key>
		<string>/mɜːdʒ/</string>
		<key>translation</key>
		<string>n. 使(结合)</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aware</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;weə/</string>
		<key>translation</key>
		<string>adj. 知道的；意识到的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>label</string>
		<key>phoneticSymbol</key>
		<string>/&apos;leɪbl/</string>
		<key>translation</key>
		<string>vt. 贴标签于\nn. 标签，标记；称号；绰号，外号</string>
	</dict>
	<dict>
		<key>word</key>
		<string>guarantee</string>
		<key>phoneticSymbol</key>
		<string>/gærən&apos;tiː/</string>
		<key>translation</key>
		<string>v. 保证；允诺\nn. 保证；担保物</string>
	</dict>
	<dict>
		<key>word</key>
		<string>interrelationship</string>
		<key>phoneticSymbol</key>
		<string>/ˌɪntərɪ&apos;leʃnʃɪp/</string>
		<key>translation</key>
		<string>n. 相互关联，相互影响</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stationery</string>
		<key>phoneticSymbol</key>
		<string>/&apos;steɪʃənrɪ/</string>
		<key>translation</key>
		<string>n. 文具</string>
	</dict>
	<dict>
		<key>word</key>
		<string>limestone</string>
		<key>phoneticSymbol</key>
		<string>/ˈlaɪmˌstəʊn/</string>
		<key>translation</key>
		<string>n. 石灰石，石灰岩</string>
	</dict>
	<dict>
		<key>word</key>
		<string>impulse</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɪmpʌls/</string>
		<key>translation</key>
		<string>n. 冲动，突如其来的念头；刺激，驱使；脉冲</string>
	</dict>
	<dict>
		<key>word</key>
		<string>wax</string>
		<key>phoneticSymbol</key>
		<string>/wæks/</string>
		<key>translation</key>
		<string>n. 蜡；蜂蜡\nv. 给...上蜡；月亮渐圆，渐满</string>
	</dict>
	<dict>
		<key>word</key>
		<string>incapacitate</string>
		<key>phoneticSymbol</key>
		<string>/ˌɪnkə&apos;pæsɪteɪt/</string>
		<key>translation</key>
		<string>vt. 使无能力；使伤残；使不适合；使无资格</string>
	</dict>
	<dict>
		<key>word</key>
		<string>appear</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;pɪə/</string>
		<key>translation</key>
		<string>v. 出现，显露，公开露面；出现，问世；仿佛，似乎</string>
	</dict>
	<dict>
		<key>word</key>
		<string>check</string>
		<key>phoneticSymbol</key>
		<string>/tʃek/</string>
		<key>translation</key>
		<string>v. 检查，核对；阻止，制止\nn. 检查，核对；制止；支票，账单</string>
	</dict>
	<dict>
		<key>word</key>
		<string>collect</string>
		<key>phoneticSymbol</key>
		<string>/kə&apos;lekt/</string>
		<key>translation</key>
		<string>v. 收集，搜集；领取，接走；收(税等)；聚集；积累</string>
	</dict>
	<dict>
		<key>word</key>
		<string>attract</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;trækt/</string>
		<key>translation</key>
		<string>vt. 吸引，招引，引诱，引起(注意等)</string>
	</dict>
	<dict>
		<key>word</key>
		<string>describe</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;skraɪb/</string>
		<key>translation</key>
		<string>vt. 描述，描写，形容</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chunk</string>
		<key>phoneticSymbol</key>
		<string>/tʃʌŋk/</string>
		<key>translation</key>
		<string>n. 大块，相当大的部分(或数量)</string>
	</dict>
	<dict>
		<key>word</key>
		<string>agency</string>
		<key>phoneticSymbol</key>
		<string>/&apos;edʒənsi/</string>
		<key>translation</key>
		<string>n. 机构；代理，代办</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blend</string>
		<key>phoneticSymbol</key>
		<string>/blend/</string>
		<key>translation</key>
		<string>v. (使)混合，(使)混杂\nn. 混合物；混合，交融</string>
	</dict>
	<dict>
		<key>word</key>
		<string>conceive</string>
		<key>phoneticSymbol</key>
		<string>/kən&apos;siːv/</string>
		<key>translation</key>
		<string>v. (构)想出，构想，设想；怀孕</string>
	</dict>
	<dict>
		<key>word</key>
		<string>affect</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;fekt/</string>
		<key>translation</key>
		<string>v. 影响；感染</string>
	</dict>
	<dict>
		<key>word</key>
		<string>frustrate</string>
		<key>phoneticSymbol</key>
		<string>/frʌ&apos;streɪt/</string>
		<key>translation</key>
		<string>vt. 使沮丧；挫败</string>
	</dict>
	<dict>
		<key>word</key>
		<string>extend</string>
		<key>phoneticSymbol</key>
		<string>/ɪk&apos;stend/</string>
		<key>translation</key>
		<string>v. 延长；扩大</string>
	</dict>
	<dict>
		<key>word</key>
		<string>introduce</string>
		<key>phoneticSymbol</key>
		<string>/ɪntrə&apos;djuːs/</string>
		<key>translation</key>
		<string>vt. 介绍；传入，引进；提出；采用，推行</string>
	</dict>
	<dict>
		<key>word</key>
		<string>advice</string>
		<key>phoneticSymbol</key>
		<string>/əd&apos;vaɪs/</string>
		<key>translation</key>
		<string>n. 劝告，忠告；建议，(医生等的)意见</string>
	</dict>
	<dict>
		<key>word</key>
		<string>attitude</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ætɪtjuːd/</string>
		<key>translation</key>
		<string>n. 态度，看法；姿势</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deliver</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;lɪvə/</string>
		<key>translation</key>
		<string>v. 交付，递送；发表，表达；释放；接生</string>
	</dict>
	<dict>
		<key>word</key>
		<string>course</string>
		<key>phoneticSymbol</key>
		<string>/kɔːs/</string>
		<key>translation</key>
		<string>n. 过程，进程；路线，方针；跑道；课程\nv. 追猎；运行；流动</string>
	</dict>
	<dict>
		<key>word</key>
		<string>match</string>
		<key>phoneticSymbol</key>
		<string>/mætʃ/</string>
		<key>translation</key>
		<string>n. 火柴；比赛，竞赛；对手，敌手\nv. 匹配，相称</string>
	</dict>
	<dict>
		<key>word</key>
		<string>employ</string>
		<key>phoneticSymbol</key>
		<string>/ɪm&apos;plɒɪ/</string>
		<key>translation</key>
		<string>n./vt. 雇佣；用，使用</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pedal</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pedl/</string>
		<key>translation</key>
		<string>v. 骑车；踩踏板\nn. 踏板</string>
	</dict>
	<dict>
		<key>word</key>
		<string>resident</string>
		<key>phoneticSymbol</key>
		<string>/&apos;rezɪdənt/</string>
		<key>translation</key>
		<string>n. 居民，住户\nadj. 常驻的，居住的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>optometrist</string>
		<key>phoneticSymbol</key>
		<string>/ɒp&apos;tɒmɪtrɪst/</string>
		<key>translation</key>
		<string>n. 验光师，视力测定者</string>
	</dict>
	<dict>
		<key>word</key>
		<string>degrade</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;greɪd/</string>
		<key>translation</key>
		<string>v. (使)降级；(使)堕落；(使)降解；(使)退化</string>
	</dict>
	<dict>
		<key>word</key>
		<string>particle</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pɑːtɪkl/</string>
		<key>translation</key>
		<string>n. 极少量；微粒</string>
	</dict>
	<dict>
		<key>word</key>
		<string>downpour</string>
		<key>phoneticSymbol</key>
		<string>/&apos;daʊnpɔː/</string>
		<key>translation</key>
		<string>n. 暴雨</string>
	</dict>
	<dict>
		<key>word</key>
		<string>telescope</string>
		<key>phoneticSymbol</key>
		<string>/&apos;telɪskəʊp/</string>
		<key>translation</key>
		<string>n. 望远镜</string>
	</dict>
	<dict>
		<key>word</key>
		<string>transport</string>
		<key>phoneticSymbol</key>
		<string>/træn&apos;spɔːt/</string>
		<key>translation</key>
		<string>n. 运输，运送；运输系统\nvt. 运输，搬运</string>
	</dict>
	<dict>
		<key>word</key>
		<string>prepare</string>
		<key>phoneticSymbol</key>
		<string>/prɪ&apos;peə/</string>
		<key>translation</key>
		<string>v. 准备，预备</string>
	</dict>
	<dict>
		<key>word</key>
		<string>registration</string>
		<key>phoneticSymbol</key>
		<string>/redʒɪ&apos;streɪʃn/</string>
		<key>translation</key>
		<string>n. 登记，注册；挂号；登记或注册的项目</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chaos</string>
		<key>phoneticSymbol</key>
		<string>/&apos;keɪɒs/</string>
		<key>translation</key>
		<string>n. 混乱</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gorge</string>
		<key>phoneticSymbol</key>
		<string>/gɔːdʒ/</string>
		<key>translation</key>
		<string>v. 狼吞虎咽，塞饱\nn. 山峡，峡谷</string>
	</dict>
	<dict>
		<key>word</key>
		<string>recreational</string>
		<key>phoneticSymbol</key>
		<string>/ˌrekriˈeiʃənl/</string>
		<key>translation</key>
		<string>adj. 消遣的，娱乐的；游戏的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>systematic</string>
		<key>phoneticSymbol</key>
		<string>/sɪstə&apos;mætɪk/</string>
		<key>translation</key>
		<string>adj. 系统的，体系的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>subtropical</string>
		<key>phoneticSymbol</key>
		<string>/ˌsʌb&apos;trɒpɪkl/</string>
		<key>translation</key>
		<string>adj. 亚热带的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>detract</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;trækt/</string>
		<key>translation</key>
		<string>v. 去掉，减损</string>
	</dict>
	<dict>
		<key>word</key>
		<string>seal</string>
		<key>phoneticSymbol</key>
		<string>/siːl/</string>
		<key>translation</key>
		<string>vt. 封，密封\nn. 封铅</string>
	</dict>
	<dict>
		<key>word</key>
		<string>depress</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;pres/</string>
		<key>translation</key>
		<string>vt. 使沮丧；使不景气；降低，减少</string>
	</dict>
	<dict>
		<key>word</key>
		<string>scarce</string>
		<key>phoneticSymbol</key>
		<string>/skeəs/</string>
		<key>translation</key>
		<string>adj. 缺乏的，不足的；稀少的，罕见的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>evidence</string>
		<key>phoneticSymbol</key>
		<string>/&apos;evɪdəns/</string>
		<key>translation</key>
		<string>n. 根据，证据；形迹，迹象</string>
	</dict>
	<dict>
		<key>word</key>
		<string>besides</string>
		<key>phoneticSymbol</key>
		<string>/bɪ&apos;saɪdz/</string>
		<key>translation</key>
		<string>adv. 而且\nprep. 除...之外</string>
	</dict>
	<dict>
		<key>word</key>
		<string>waterproof</string>
		<key>phoneticSymbol</key>
		<string>/&apos;wɔːtəpruːf/</string>
		<key>translation</key>
		<string>adj. 不透水的；防水的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>exclusive</string>
		<key>phoneticSymbol</key>
		<string>/ɪk&apos;skluːsɪv/</string>
		<key>translation</key>
		<string>adj. 奢华的；独有的；排他的\nn.独家新闻</string>
	</dict>
	<dict>
		<key>word</key>
		<string>majority</string>
		<key>phoneticSymbol</key>
		<string>/mə&apos;dʒɒrɪtɪ/</string>
		<key>translation</key>
		<string>n. 多数，大多数</string>
	</dict>
	<dict>
		<key>word</key>
		<string>despite</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;spaɪt/</string>
		<key>translation</key>
		<string>prep. 不管，尽管</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dissolve</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;zɒlv/</string>
		<key>translation</key>
		<string>v. 溶解；解散；结束</string>
	</dict>
	<dict>
		<key>word</key>
		<string>release</string>
		<key>phoneticSymbol</key>
		<string>/rɪ&apos;liːs/</string>
		<key>translation</key>
		<string>vt. 释放，解放；发表，发行\nn. 释放；发表；排放，泄漏</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deploy</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;plɔɪ/</string>
		<key>translation</key>
		<string>vt. 部署；使用，运用</string>
	</dict>
	<dict>
		<key>word</key>
		<string>original</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;rɪdʒɪnl/</string>
		<key>translation</key>
		<string>adj. 最初的，原始的；新颖的，有独创性的\nn. 原物，原作</string>
	</dict>
	<dict>
		<key>word</key>
		<string>branch</string>
		<key>phoneticSymbol</key>
		<string>/brɑːntʃ/</string>
		<key>translation</key>
		<string>n. 树枝；分部，分科</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chancellor</string>
		<key>phoneticSymbol</key>
		<string>/&apos;tʃɑːnsələ/ </string>
		<key>translation</key>
		<string>n. 大臣；总理；首席法官；大学校长</string>
	</dict>
	<dict>
		<key>word</key>
		<string>vertical</string>
		<key>phoneticSymbol</key>
		<string>/&apos;vɜːtɪkl/</string>
		<key>translation</key>
		<string>adj. 垂直的；竖式的\nn. 垂直线</string>
	</dict>
	<dict>
		<key>word</key>
		<string>herbivore</string>
		<key>phoneticSymbol</key>
		<string>/&apos;hə:bivɔ:/</string>
		<key>translation</key>
		<string>n. 食草动物</string>
	</dict>
	<dict>
		<key>word</key>
		<string>flat</string>
		<key>phoneticSymbol</key>
		<string>/flæt/</string>
		<key>translation</key>
		<string>adj. 平的；(价格)固定的\nn. 单元住宅</string>
	</dict>
	<dict>
		<key>word</key>
		<string>occasionally</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;keɪʒnəlɪ/ </string>
		<key>translation</key>
		<string>adv. 有时候，偶尔</string>
	</dict>
	<dict>
		<key>word</key>
		<string>harridan</string>
		<key>phoneticSymbol</key>
		<string>/&apos;hærɪdən/</string>
		<key>translation</key>
		<string>n. 凶恶的老妇；老巫婆</string>
	</dict>
	<dict>
		<key>word</key>
		<string>accommodation</string>
		<key>phoneticSymbol</key>
		<string>/əkɒmə&apos;deɪʃn/</string>
		<key>translation</key>
		<string>n. 住处，膳宿；适应，调节</string>
	</dict>
	<dict>
		<key>word</key>
		<string>static</string>
		<key>phoneticSymbol</key>
		<string>/&apos;stætɪk/</string>
		<key>translation</key>
		<string>n. 静电\nadj. 静止的，静态的；呆板的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>section</string>
		<key>phoneticSymbol</key>
		<string>/&apos;sekʃn/</string>
		<key>translation</key>
		<string>n. 部分；部门；截面</string>
	</dict>
	<dict>
		<key>word</key>
		<string>scale</string>
		<key>phoneticSymbol</key>
		<string>/skeɪl/</string>
		<key>translation</key>
		<string>n. 规模，大小；天平，磅秤；刻度，标度；鳞；音阶；等级；比例\nvt. 攀登，爬越</string>
	</dict>
	<dict>
		<key>word</key>
		<string>constantly</string>
		<key>phoneticSymbol</key>
		<string>/ˈkɔnstəntlɪ/</string>
		<key>translation</key>
		<string>adv. 经常；不断地</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aliment</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ælɪmənt/</string>
		<key>translation</key>
		<string>n. 滋养品；食物</string>
	</dict>
	<dict>
		<key>word</key>
		<string>adhere</string>
		<key>phoneticSymbol</key>
		<string>/əd&apos;hɪə/</string>
		<key>translation</key>
		<string>vi. 黏附；遵守；坚持</string>
	</dict>
	<dict>
		<key>word</key>
		<string>extracurricular</string>
		<key>phoneticSymbol</key>
		<string>/ekstrəkə&apos;rɪkjʊlə/ </string>
		<key>translation</key>
		<string>adj. 课外的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>propel</string>
		<key>phoneticSymbol</key>
		<string>/prə&apos;pel/</string>
		<key>translation</key>
		<string>vt. 推进，推动；驱使</string>
	</dict>
	<dict>
		<key>word</key>
		<string>posture</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pɒstʃə/</string>
		<key>translation</key>
		<string>n. 姿势；心情；态度</string>
	</dict>
	<dict>
		<key>word</key>
		<string>overseas</string>
		<key>phoneticSymbol</key>
		<string>/əʊvə&apos;siːz/</string>
		<key>translation</key>
		<string>adj. 在海外的\nadv. 在海外</string>
	</dict>
	<dict>
		<key>word</key>
		<string>industrialise</string>
		<key>phoneticSymbol</key>
		<string>/in&apos;dʌstriəlaiz/</string>
		<key>translation</key>
		<string>n. (使)工业化</string>
	</dict>
	<dict>
		<key>word</key>
		<string>empire</string>
		<key>phoneticSymbol</key>
		<string>/&apos;empaɪə/</string>
		<key>translation</key>
		<string>n. 帝国</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mechanic</string>
		<key>phoneticSymbol</key>
		<string>/mə&apos;kænɪk/</string>
		<key>translation</key>
		<string>n. 机修工；[-s]力学，机械学</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fracture</string>
		<key>phoneticSymbol</key>
		<string>/&apos;fræktʃə/</string>
		<key>translation</key>
		<string>n. 断裂，折断；骨折\nv. (使)断裂</string>
	</dict>
	<dict>
		<key>word</key>
		<string>glacial</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɡleʃl/</string>
		<key>translation</key>
		<string>adj. 冰期的；冰川的；寒冷的；冷若冰霜的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>badminton</string>
		<key>phoneticSymbol</key>
		<string>/&apos;bædmɪntən/ </string>
		<key>translation</key>
		<string>n. 羽毛球</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dock</string>
		<key>phoneticSymbol</key>
		<string>/dɒk/</string>
		<key>translation</key>
		<string>v. (使)靠码头\nn. 码头</string>
	</dict>
	<dict>
		<key>word</key>
		<string>argument</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɑːgjʊmənt/</string>
		<key>translation</key>
		<string>n. 争吵，争论；观点；说理，论证</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chase</string>
		<key>phoneticSymbol</key>
		<string>/tʃeɪs/</string>
		<key>translation</key>
		<string>v. 追捕；追求；雕镂</string>
	</dict>
	<dict>
		<key>word</key>
		<string>brochure</string>
		<key>phoneticSymbol</key>
		<string>/&apos;brəʊʃə/</string>
		<key>translation</key>
		<string>n. 小册子；说明书</string>
	</dict>
	<dict>
		<key>word</key>
		<string>convince</string>
		<key>phoneticSymbol</key>
		<string>/kən&apos;vɪns/</string>
		<key>translation</key>
		<string>vt. (使)确信；说服</string>
	</dict>
	<dict>
		<key>word</key>
		<string>teem</string>
		<key>phoneticSymbol</key>
		<string>/tiːm/</string>
		<key>translation</key>
		<string>vi. 倾泻；充满，遍布</string>
	</dict>
	<dict>
		<key>word</key>
		<string>confront</string>
		<key>phoneticSymbol</key>
		<string>/kən&apos;frʌnt/</string>
		<key>translation</key>
		<string>vt. 遭遇；面对，正视</string>
	</dict>
	<dict>
		<key>word</key>
		<string>exhibition</string>
		<key>phoneticSymbol</key>
		<string>/eksɪ&apos;bɪʃn/</string>
		<key>translation</key>
		<string>n. 展览(会)；陈列，展览</string>
	</dict>
	<dict>
		<key>word</key>
		<string>whereas</string>
		<key>phoneticSymbol</key>
		<string>/weər&apos;æz/</string>
		<key>translation</key>
		<string>conj. 然而，但是</string>
	</dict>
	<dict>
		<key>word</key>
		<string>oak</string>
		<key>phoneticSymbol</key>
		<string>/əʊk/</string>
		<key>translation</key>
		<string>n. 橡树，橡木</string>
	</dict>
	<dict>
		<key>word</key>
		<string>additional</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;dɪʃənl/</string>
		<key>translation</key>
		<string>adj. 附加的；追加的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>overlapping</string>
		<key>phoneticSymbol</key>
		<string>/ˌəuvə&apos;læpiŋ/</string>
		<key>translation</key>
		<string>adj. 重叠的；共通的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>poultry</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pəʊltrɪ/</string>
		<key>translation</key>
		<string>n. 家禽；禽肉</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pregnancy</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pregnənsɪ/</string>
		<key>translation</key>
		<string>n. 怀孕；怀孕期</string>
	</dict>
	<dict>
		<key>word</key>
		<string>confirmation</string>
		<key>phoneticSymbol</key>
		<string>/kɒnfə&apos;meɪʃn/</string>
		<key>translation</key>
		<string>n. 证实，确认；批准</string>
	</dict>
	<dict>
		<key>word</key>
		<string>unquote</string>
		<key>phoneticSymbol</key>
		<string>/ʌn&apos;kwəʊt/</string>
		<key>translation</key>
		<string>v. 结束引语</string>
	</dict>
	<dict>
		<key>word</key>
		<string>embezzlement</string>
		<key>phoneticSymbol</key>
		<string>/ɪmˈbezlmənt/</string>
		<key>translation</key>
		<string>n. 贪污，盗用</string>
	</dict>
</array>
</plist>
