<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>acrobatic</string>
		<key>phoneticSymbol</key>
		<string>/ˌækrəˈbætɪk/</string>
		<key>translation</key>
		<string>adj. 杂技的；杂技般的；杂技演员的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>numerous</string>
		<key>phoneticSymbol</key>
		<string>/&apos;njuːmərəs/</string>
		<key>translation</key>
		<string>adj. 众多的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>balcony</string>
		<key>phoneticSymbol</key>
		<string>/&apos;bælkənɪ/</string>
		<key>translation</key>
		<string>n. 阳台；楼座</string>
	</dict>
	<dict>
		<key>word</key>
		<string>postgraduate</string>
		<key>phoneticSymbol</key>
		<string>/pəʊst&apos;grædjʊət/</string>
		<key>translation</key>
		<string>n. 研究生</string>
	</dict>
	<dict>
		<key>word</key>
		<string>well-being</string>
		<key>phoneticSymbol</key>
		<string>/wel &apos;bi:ɪŋ/</string>
		<key>translation</key>
		<string>n. 安宁；福利</string>
	</dict>
	<dict>
		<key>word</key>
		<string>at random</string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string>随便地，任意地</string>
	</dict>
	<dict>
		<key>word</key>
		<string>prime</string>
		<key>phoneticSymbol</key>
		<string>/praɪm/</string>
		<key>translation</key>
		<string>adj. 首要的；最好的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>settle</string>
		<key>phoneticSymbol</key>
		<string>/&apos;setl/</string>
		<key>translation</key>
		<string>v. 定居，安家；解决，调停；安排；支付；停留，栖息</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fallow</string>
		<key>phoneticSymbol</key>
		<string>/&apos;fæləʊ/</string>
		<key>translation</key>
		<string>adj. 休耕的；休闲的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>troupe</string>
		<key>phoneticSymbol</key>
		<string>/truːp/</string>
		<key>translation</key>
		<string>n. 剧团，艺术团体</string>
	</dict>
	<dict>
		<key>word</key>
		<string>premise</string>
		<key>phoneticSymbol</key>
		<string>/&apos;premɪs/</string>
		<key>translation</key>
		<string>n. 前提，假设；房屋和地基，经营场址</string>
	</dict>
	<dict>
		<key>word</key>
		<string>discerning</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;sɜːnɪŋ/</string>
		<key>translation</key>
		<string>adj. 有识别力的，眼光敏锐的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>niggle</string>
		<key>phoneticSymbol</key>
		<string>/&apos;nɪgl/</string>
		<key>translation</key>
		<string>v. 拘泥小节；挑剔；为小事操心；不断地烦扰</string>
	</dict>
	<dict>
		<key>word</key>
		<string>prospectus</string>
		<key>phoneticSymbol</key>
		<string>/prə&apos;spektəs/</string>
		<key>translation</key>
		<string>n. 内容说明书，简章，简介</string>
	</dict>
	<dict>
		<key>word</key>
		<string>liaise</string>
		<key>phoneticSymbol</key>
		<string>/lɪ&apos;eɪz/</string>
		<key>translation</key>
		<string>vi. 做联络人；联络，联系</string>
	</dict>
	<dict>
		<key>word</key>
		<string>excavation</string>
		<key>phoneticSymbol</key>
		<string>/ekskə&apos;veɪʃn/</string>
		<key>translation</key>
		<string>n. 挖掘，发掘；出土文物</string>
	</dict>
	<dict>
		<key>word</key>
		<string>continental</string>
		<key>phoneticSymbol</key>
		<string>/kɒntɪ&apos;nentl/</string>
		<key>translation</key>
		<string>adj. 欧洲大陆的；大陆性的\nn. 欧洲大陆人</string>
	</dict>
	<dict>
		<key>word</key>
		<string>modernism</string>
		<key>phoneticSymbol</key>
		<string>/&apos;mɒdənɪzəm/</string>
		<key>translation</key>
		<string>n. 现代主义</string>
	</dict>
	<dict>
		<key>word</key>
		<string>artery</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɑːtərɪ/</string>
		<key>translation</key>
		<string>n. 动脉；干线，要道</string>
	</dict>
	<dict>
		<key>word</key>
		<string>premium</string>
		<key>phoneticSymbol</key>
		<string>/&apos;priːmɪəm/</string>
		<key>translation</key>
		<string>adj. 高级的，优质的；售价高的\nn. 保险费；额外费用；奖品</string>
	</dict>
	<dict>
		<key>word</key>
		<string>glamor</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɡlæmə/</string>
		<key>translation</key>
		<string>n. 魅力；诱惑力</string>
	</dict>
	<dict>
		<key>word</key>
		<string>barbecue</string>
		<key>phoneticSymbol</key>
		<string>/&apos;bɑːbɪkjuː/</string>
		<key>translation</key>
		<string>n. 金属烤肉架；烧烤野餐</string>
	</dict>
	<dict>
		<key>word</key>
		<string>material</string>
		<key>phoneticSymbol</key>
		<string>/mə&apos;tɪərɪəl/</string>
		<key>translation</key>
		<string>n. 材料；素材\nadj. 物质的；重要的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>adapt</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;dæpt/</string>
		<key>translation</key>
		<string>v. 使适合；改编；适应</string>
	</dict>
	<dict>
		<key>word</key>
		<string>gullibly</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɡʌləbli/</string>
		<key>translation</key>
		<string>adv. 轻信地，容易欺骗地</string>
	</dict>
	<dict>
		<key>word</key>
		<string>succession</string>
		<key>phoneticSymbol</key>
		<string>/sək&apos;seʃn/</string>
		<key>translation</key>
		<string>n. 连续；接替，继承</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sift</string>
		<key>phoneticSymbol</key>
		<string>/sɪft/</string>
		<key>translation</key>
		<string>v. 细查；筛；过滤</string>
	</dict>
	<dict>
		<key>word</key>
		<string>spark</string>
		<key>phoneticSymbol</key>
		<string>/spɑːk/</string>
		<key>translation</key>
		<string>n. 火花</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sympathy</string>
		<key>phoneticSymbol</key>
		<string>/&apos;simpəθi/</string>
		<key>translation</key>
		<string>n. 同情；赞同，支持</string>
	</dict>
	<dict>
		<key>word</key>
		<string>chill</string>
		<key>phoneticSymbol</key>
		<string>/tʃɪl/</string>
		<key>translation</key>
		<string>v. 变冷，冷藏\nn. 寒意；寒战；寒心\nadj. 寒冷的；扫兴的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>multinational</string>
		<key>phoneticSymbol</key>
		<string>/ˌmʌltɪ&apos;næʃnəl/</string>
		<key>translation</key>
		<string>adj. 多国的，多民族的；跨国公司的\nn. 跨国公司</string>
	</dict>
	<dict>
		<key>word</key>
		<string>exposure</string>
		<key>phoneticSymbol</key>
		<string>/ɪk&apos;spəʊʒə/</string>
		<key>translation</key>
		<string>n. 暴露；显露；接触；曝光</string>
	</dict>
	<dict>
		<key>word</key>
		<string>fierce</string>
		<key>phoneticSymbol</key>
		<string>/fɪəs/</string>
		<key>translation</key>
		<string>adj. 凶猛的；强烈的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>crime</string>
		<key>phoneticSymbol</key>
		<string>/kraɪm/</string>
		<key>translation</key>
		<string>n. 罪行；犯罪</string>
	</dict>
	<dict>
		<key>word</key>
		<string>constitute</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kɒnstɪtjuːt/</string>
		<key>translation</key>
		<string>v. 组成；构成；设立，成立</string>
	</dict>
	<dict>
		<key>word</key>
		<string>deceive</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;siːv/</string>
		<key>translation</key>
		<string>v. 欺骗，蒙骗</string>
	</dict>
	<dict>
		<key>word</key>
		<string>haul</string>
		<key>phoneticSymbol</key>
		<string>/hɔːl/</string>
		<key>translation</key>
		<string>vt. 用力拖；搬运</string>
	</dict>
	<dict>
		<key>word</key>
		<string>emission</string>
		<key>phoneticSymbol</key>
		<string>/ɪ&apos;mɪʃn/</string>
		<key>translation</key>
		<string>n. 散发；散发物</string>
	</dict>
	<dict>
		<key>word</key>
		<string>procession</string>
		<key>phoneticSymbol</key>
		<string>/prə&apos;seʃn/</string>
		<key>translation</key>
		<string>n. 队伍，行列</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bistro</string>
		<key>phoneticSymbol</key>
		<string>/&apos;biːstrəʊ/</string>
		<key>translation</key>
		<string>n. 小酒馆；小餐馆</string>
	</dict>
	<dict>
		<key>word</key>
		<string>crash</string>
		<key>phoneticSymbol</key>
		<string>/kræʃ/</string>
		<key>translation</key>
		<string>n. 碰撞；坠落；崩溃\nv. 碰撞；冲；坠落\nadj. 速成的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pearl</string>
		<key>phoneticSymbol</key>
		<string>/pɜːl/</string>
		<key>translation</key>
		<string>n. 珍珠</string>
	</dict>
	<dict>
		<key>word</key>
		<string>workforce</string>
		<key>phoneticSymbol</key>
		<string>/&apos;wə:kfɔ:s/</string>
		<key>translation</key>
		<string>n. 劳动人口</string>
	</dict>
	<dict>
		<key>word</key>
		<string>surpass</string>
		<key>phoneticSymbol</key>
		<string>/sə&apos;pɑːs/</string>
		<key>translation</key>
		<string>v. 超过，超越；超过...的界限；非...所能办的或理解</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sociology</string>
		<key>phoneticSymbol</key>
		<string>/səʊsɪ&apos;ɒlədʒɪ/</string>
		<key>translation</key>
		<string>n. 社会学</string>
	</dict>
	<dict>
		<key>word</key>
		<string>violent</string>
		<key>phoneticSymbol</key>
		<string>/&apos;vaɪələnt/</string>
		<key>translation</key>
		<string>adj. 暴力的；带有强烈感情的；猛烈的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>frock</string>
		<key>phoneticSymbol</key>
		<string>/frɒk/</string>
		<key>translation</key>
		<string>n. 上衣；连衣裙</string>
	</dict>
	<dict>
		<key>word</key>
		<string>epidemic</string>
		<key>phoneticSymbol</key>
		<string>/epɪ&apos;demɪk/</string>
		<key>translation</key>
		<string>adj. 流行性的\nn. 流行病</string>
	</dict>
	<dict>
		<key>word</key>
		<string>grab</string>
		<key>phoneticSymbol</key>
		<string>/græb/</string>
		<key>translation</key>
		<string>v./n. 抓，夺</string>
	</dict>
	<dict>
		<key>word</key>
		<string>statue</string>
		<key>phoneticSymbol</key>
		<string>/&apos;stætjuː/</string>
		<key>translation</key>
		<string>n. 塑像</string>
	</dict>
	<dict>
		<key>word</key>
		<string>appliance</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;plaɪəns/</string>
		<key>translation</key>
		<string>n. 用具，器具</string>
	</dict>
	<dict>
		<key>word</key>
		<string>facility</string>
		<key>phoneticSymbol</key>
		<string>/fə&apos;sɪləti/</string>
		<key>translation</key>
		<string>n. 设备，设施；便利条件</string>
	</dict>
	<dict>
		<key>word</key>
		<string>consolation</string>
		<key>phoneticSymbol</key>
		<string>/ˌkɒnsə&apos;leɪʃn/</string>
		<key>translation</key>
		<string>n. 安慰；慰问</string>
	</dict>
	<dict>
		<key>word</key>
		<string>texture</string>
		<key>phoneticSymbol</key>
		<string>/&apos;tekstʃə/</string>
		<key>translation</key>
		<string>n. 质地，纹理；口感</string>
	</dict>
	<dict>
		<key>word</key>
		<string>assumption</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;sʌmpʃn/</string>
		<key>translation</key>
		<string>n. 假定，假设；担任，承担</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dissatisfied</string>
		<key>phoneticSymbol</key>
		<string>/dɪs&apos;sætɪsfaɪd/</string>
		<key>translation</key>
		<string>adj. 不满意的，不满足的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>simultaneous</string>
		<key>phoneticSymbol</key>
		<string>/ˌsɪml&apos;teɪnɪəs/</string>
		<key>translation</key>
		<string>adj. 同时地，同时发生的，同时存在的；同步的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sundial</string>
		<key>phoneticSymbol</key>
		<string>/&apos;sʌndaɪəl/</string>
		<key>translation</key>
		<string>n. 日晷；日规</string>
	</dict>
	<dict>
		<key>word</key>
		<string>toxic</string>
		<key>phoneticSymbol</key>
		<string>/&apos;tɒksɪk/</string>
		<key>translation</key>
		<string>adj. 有毒的；中毒的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>utilise</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ju:tilaiz/</string>
		<key>translation</key>
		<string>vt. 利用，运用</string>
	</dict>
	<dict>
		<key>word</key>
		<string>conformity</string>
		<key>phoneticSymbol</key>
		<string>/kən&apos;fɔːmɪtɪ/</string>
		<key>translation</key>
		<string>n. 符合，一致</string>
	</dict>
	<dict>
		<key>word</key>
		<string>overrate</string>
		<key>phoneticSymbol</key>
		<string>/əʊvə&apos;reɪt/</string>
		<key>translation</key>
		<string>vt. 对...评价过高，高估</string>
	</dict>
	<dict>
		<key>word</key>
		<string>dormant</string>
		<key>phoneticSymbol</key>
		<string>/&apos;dɔːmənt/</string>
		<key>translation</key>
		<string>adj. 休眠的；静止的；隐匿的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>displace</string>
		<key>phoneticSymbol</key>
		<string>/dɪs&apos;pleɪs/</string>
		<key>translation</key>
		<string>vt. 取代；转移；撤职，使失业</string>
	</dict>
	<dict>
		<key>word</key>
		<string>embrace</string>
		<key>phoneticSymbol</key>
		<string>/ɪm&apos;breɪs/</string>
		<key>translation</key>
		<string>v./n. 拥抱；包括；欣然接受</string>
	</dict>
	<dict>
		<key>word</key>
		<string>engrave</string>
		<key>phoneticSymbol</key>
		<string>/ɪn&apos;greɪv/</string>
		<key>translation</key>
		<string>vt. 雕刻；铭记</string>
	</dict>
	<dict>
		<key>word</key>
		<string>disrespectful</string>
		<key>phoneticSymbol</key>
		<string>/dɪsrɪ&apos;spektfl/ </string>
		<key>translation</key>
		<string>adj. 失礼的，无礼的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>invade</string>
		<key>phoneticSymbol</key>
		<string>/ɪn&apos;veɪd/</string>
		<key>translation</key>
		<string>v. 侵犯，侵入，侵略，侵袭</string>
	</dict>
	<dict>
		<key>word</key>
		<string>arcade</string>
		<key>phoneticSymbol</key>
		<string>/ɑː&apos;keɪd/</string>
		<key>translation</key>
		<string>n. 拱廊，有拱廊的街道</string>
	</dict>
	<dict>
		<key>word</key>
		<string>commentary</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kɑməntɛri/</string>
		<key>translation</key>
		<string>n. 实况报道，现场解说；注释，解释</string>
	</dict>
	<dict>
		<key>word</key>
		<string>recreate</string>
		<key>phoneticSymbol</key>
		<string>/riːkrɪ&apos;eɪt/</string>
		<key>translation</key>
		<string>vt. 再现，再创造</string>
	</dict>
	<dict>
		<key>word</key>
		<string>mock</string>
		<key>phoneticSymbol</key>
		<string>/mɒk/</string>
		<key>translation</key>
		<string>adj. 假的；模拟的\nn. 嘲弄；仿制品\nv. 嘲笑，嘲弄</string>
	</dict>
	<dict>
		<key>word</key>
		<string>territory</string>
		<key>phoneticSymbol</key>
		<string>/&apos;tɛrətɔri/</string>
		<key>translation</key>
		<string>n. 领土，版图；领域，范围</string>
	</dict>
	<dict>
		<key>word</key>
		<string>prohibit</string>
		<key>phoneticSymbol</key>
		<string>/prə&apos;hɪbɪt/</string>
		<key>translation</key>
		<string>v. 禁止，阻止</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shipment</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ʃɪpmənt/</string>
		<key>translation</key>
		<string>n. 装运，运输；装载的货物，装货量</string>
	</dict>
	<dict>
		<key>word</key>
		<string>calendar</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kælɪndə/</string>
		<key>translation</key>
		<string>n. 日历；月历；日程表</string>
	</dict>
	<dict>
		<key>word</key>
		<string>magic</string>
		<key>phoneticSymbol</key>
		<string>/&apos;mædʒɪk/</string>
		<key>translation</key>
		<string>n. 魔法；魅力，魔力\nadj. 有魔力的，神奇的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>slip</string>
		<key>phoneticSymbol</key>
		<string>/slɪp/</string>
		<key>translation</key>
		<string>v. 滑倒，失足；减退；摆脱；塞入\nn. 差错，疏漏；滑倒；纸片</string>
	</dict>
	<dict>
		<key>word</key>
		<string>shatter</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ʃætə/</string>
		<key>translation</key>
		<string>v. 破碎，碎裂；给予极大打击</string>
	</dict>
	<dict>
		<key>word</key>
		<string>truce</string>
		<key>phoneticSymbol</key>
		<string>/truːs/</string>
		<key>translation</key>
		<string>n. 休战（协定）</string>
	</dict>
	<dict>
		<key>word</key>
		<string>discount</string>
		<key>phoneticSymbol</key>
		<string>/&apos;dɪskaʊnt/</string>
		<key>translation</key>
		<string>n. 折扣\nvt. 给...打折；漠视，低估</string>
	</dict>
	<dict>
		<key>word</key>
		<string>tough</string>
		<key>phoneticSymbol</key>
		<string>/tʌf/</string>
		<key>translation</key>
		<string>adj. 难对付的；健壮的；老的，硬的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>volunteer</string>
		<key>phoneticSymbol</key>
		<string>/ˌvɒlən&apos;tɪə/</string>
		<key>translation</key>
		<string>v. 自愿做，无偿做\nadj. 志愿的，义务的，无偿的\nn. 志愿者</string>
	</dict>
	<dict>
		<key>word</key>
		<string>eruption</string>
		<key>phoneticSymbol</key>
		<string>/ɪ&apos;rʌpʃn/</string>
		<key>translation</key>
		<string>n. 爆发；发作</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pension</string>
		<key>phoneticSymbol</key>
		<string>/&apos;penʃn/</string>
		<key>translation</key>
		<string>n. 养老金，抚恤金；年金</string>
	</dict>
	<dict>
		<key>word</key>
		<string>assignment</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;saɪnmənt/</string>
		<key>translation</key>
		<string>n. 任务，工作</string>
	</dict>
	<dict>
		<key>word</key>
		<string>assign</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;saɪn/</string>
		<key>translation</key>
		<string>vt. 指派，分配；指定</string>
	</dict>
	<dict>
		<key>word</key>
		<string>concert</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kɒnsət/</string>
		<key>translation</key>
		<string>n. 音乐会，演奏会</string>
	</dict>
	<dict>
		<key>word</key>
		<string>microbiology</string>
		<key>phoneticSymbol</key>
		<string>/ˌmaɪkrəʊbaɪ&apos;ɒlədʒɪ/</string>
		<key>translation</key>
		<string>n. 微生物学</string>
	</dict>
	<dict>
		<key>word</key>
		<string>stainless</string>
		<key>phoneticSymbol</key>
		<string>/&apos;steɪnlɪs/</string>
		<key>translation</key>
		<string>adj. 不锈的；无污点的，无瑕疵的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hallowed</string>
		<key>phoneticSymbol</key>
		<string>/&apos;hæləʊd/</string>
		<key>translation</key>
		<string>adj. 受崇敬的；神圣的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>terminal</string>
		<key>phoneticSymbol</key>
		<string>/&apos;tɜːmɪnl/</string>
		<key>translation</key>
		<string>n. 终点，终端；终点站，航站楼\nadj. 末端的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>climate</string>
		<key>phoneticSymbol</key>
		<string>/&apos;klaɪmət/</string>
		<key>translation</key>
		<string>n. 气候；风气，思潮</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bring around/round</string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string>说服；使恢复知觉（或健康）</string>
	</dict>
	<dict>
		<key>word</key>
		<string>relevance</string>
		<key>phoneticSymbol</key>
		<string>/ˈreləvəns/</string>
		<key>translation</key>
		<string>n. 中肯，适当；相关性</string>
	</dict>
	<dict>
		<key>word</key>
		<string>reluctant</string>
		<key>phoneticSymbol</key>
		<string>/rɪ&apos;lʌktənt/</string>
		<key>translation</key>
		<string>adj. 不情愿的，勉强的；难得到的，难处理的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>regularity</string>
		<key>phoneticSymbol</key>
		<string>/reɡjʊ&apos;lærətɪ/</string>
		<key>translation</key>
		<string>n. 规律性，规则性；整齐，匀称</string>
	</dict>
	<dict>
		<key>word</key>
		<string>laterality</string>
		<key>phoneticSymbol</key>
		<string>/ˌlætə&apos;rælɪti/</string>
		<key>translation</key>
		<string>n. 对一侧面的偏重，偏向一侧状态</string>
	</dict>
	<dict>
		<key>word</key>
		<string>predominant</string>
		<key>phoneticSymbol</key>
		<string>/prɪ&apos;dɒmɪnənt/</string>
		<key>translation</key>
		<string>adj. 卓越的，突出的；支配的，主要的，盛行的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>trek</string>
		<key>phoneticSymbol</key>
		<string>/trek/</string>
		<key>translation</key>
		<string>vi./n. 牛拉车；艰苦跋涉</string>
	</dict>
</array>
</plist>
