<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>daunt</string>
		<key>phoneticSymbol</key>
		<string>/dɔːnt/</string>
		<key>translation</key>
		<string>vt. 使气馁，使胆怯</string>
	</dict>
	<dict>
		<key>word</key>
		<string>itinerary</string>
		<key>phoneticSymbol</key>
		<string>/aɪ&apos;tɪnərərɪ/</string>
		<key>translation</key>
		<string>n. 行程表；旅行路线，旅行计划</string>
	</dict>
	<dict>
		<key>word</key>
		<string>acclimatise</string>
		<key>phoneticSymbol</key>
		<string>/ə&apos;klaimətaiz/</string>
		<key>translation</key>
		<string>v.（使）服水土；（使）适应新环境</string>
	</dict>
	<dict>
		<key>word</key>
		<string>meadow</string>
		<key>phoneticSymbol</key>
		<string>/&apos;medəʊ/</string>
		<key>translation</key>
		<string>n. 草地；牧场</string>
	</dict>
	<dict>
		<key>word</key>
		<string>forthcoming</string>
		<key>phoneticSymbol</key>
		<string>/fɔːθ&apos;kʌmɪŋ/</string>
		<key>translation</key>
		<string>adj. 即将到来的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>structure</string>
		<key>phoneticSymbol</key>
		<string>/&apos;strʌktʃə/</string>
		<key>translation</key>
		<string>n. 结构；构造；建筑物\nvt. 系统安排；精心组织</string>
	</dict>
	<dict>
		<key>word</key>
		<string>quantity</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kwɑntəti/</string>
		<key>translation</key>
		<string>n. 数量，数目；量；众多，大宗</string>
	</dict>
	<dict>
		<key>word</key>
		<string>integral</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɪntɪɡrəl/</string>
		<key>translation</key>
		<string>adj. 不可或缺的，构成整体所必需的；完整的，完备的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>intensive</string>
		<key>phoneticSymbol</key>
		<string>/ɪn&apos;tensɪv/</string>
		<key>translation</key>
		<string>adj. 加强的；密集的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>acknowledge</string>
		<key>phoneticSymbol</key>
		<string>/ək&apos;nɒlɪdʒ/</string>
		<key>translation</key>
		<string>v. 承认，确认；致意；感谢</string>
	</dict>
	<dict>
		<key>word</key>
		<string>liquor</string>
		<key>phoneticSymbol</key>
		<string>/&apos;lɪkə/</string>
		<key>translation</key>
		<string>n. 烈性酒；含酒精饮料</string>
	</dict>
	<dict>
		<key>word</key>
		<string>presence</string>
		<key>phoneticSymbol</key>
		<string>/&apos;prezns/</string>
		<key>translation</key>
		<string>n. 出席；存在；仪态</string>
	</dict>
	<dict>
		<key>word</key>
		<string>develop</string>
		<key>phoneticSymbol</key>
		<string>/dɪ&apos;veləp/</string>
		<key>translation</key>
		<string>v. 发展；生长，形成；开发</string>
	</dict>
	<dict>
		<key>word</key>
		<string>blast</string>
		<key>phoneticSymbol</key>
		<string>/blɑːst/</string>
		<key>translation</key>
		<string>v. 爆破，炸毁\nn. 一阵；冲击</string>
	</dict>
	<dict>
		<key>word</key>
		<string>pudding</string>
		<key>phoneticSymbol</key>
		<string>/&apos;pʊdɪŋ/</string>
		<key>translation</key>
		<string>n. 布丁</string>
	</dict>
	<dict>
		<key>word</key>
		<string>greatly</string>
		<key>phoneticSymbol</key>
		<string>/ˈgreitli/</string>
		<key>translation</key>
		<string>adv. 非常；很；极大地</string>
	</dict>
	<dict>
		<key>word</key>
		<string>sporadically</string>
		<key>phoneticSymbol</key>
		<string>/spə&apos;rædikəli/</string>
		<key>translation</key>
		<string>adv. 偶发地；零星地</string>
	</dict>
	<dict>
		<key>word</key>
		<string>imitate</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɪmɪteɪt/</string>
		<key>translation</key>
		<string>vt. 模仿，模拟；仿效</string>
	</dict>
	<dict>
		<key>word</key>
		<string>constitution</string>
		<key>phoneticSymbol</key>
		<string>/kɒnstɪ&apos;tjuːʃn/</string>
		<key>translation</key>
		<string>n. 宪法，章程；体质，体格；组成，形成</string>
	</dict>
	<dict>
		<key>word</key>
		<string>photography</string>
		<key>phoneticSymbol</key>
		<string>/fə&apos;tɒgrəfɪ/</string>
		<key>translation</key>
		<string>n. 摄影术，摄影</string>
	</dict>
	<dict>
		<key>word</key>
		<string>modem</string>
		<key>phoneticSymbol</key>
		<string>/&apos;məʊdem/</string>
		<key>translation</key>
		<string>n. 调制解调器</string>
	</dict>
	<dict>
		<key>word</key>
		<string>advocate</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ædvəkət/</string>
		<key>translation</key>
		<string>vt. 拥护，支持；提倡\nn. 拥护者，支持者；提倡者</string>
	</dict>
	<dict>
		<key>word</key>
		<string>maintenance</string>
		<key>phoneticSymbol</key>
		<string>/&apos;meɪntənəns/</string>
		<key>translation</key>
		<string>n. 维持；保养；抚养费</string>
	</dict>
	<dict>
		<key>word</key>
		<string>spouse</string>
		<key>phoneticSymbol</key>
		<string>/spaʊs/</string>
		<key>translation</key>
		<string>n. 配偶</string>
	</dict>
	<dict>
		<key>word</key>
		<string>furnace</string>
		<key>phoneticSymbol</key>
		<string>/&apos;fɜːnɪs/</string>
		<key>translation</key>
		<string>n. 熔炉</string>
	</dict>
	<dict>
		<key>word</key>
		<string>expedition</string>
		<key>phoneticSymbol</key>
		<string>/ˌɛkspə&apos;dɪʃən/</string>
		<key>translation</key>
		<string>n. 远征，探险，考察；旅行，出行；远征队，探险队</string>
	</dict>
	<dict>
		<key>word</key>
		<string>incendiary</string>
		<key>phoneticSymbol</key>
		<string>/ɪn&apos;sendɪərɪ/</string>
		<key>translation</key>
		<string>adj. 放火的，能引起燃烧的；煽动性的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>expansion</string>
		<key>phoneticSymbol</key>
		<string>/ɪk&apos;spænʃn/</string>
		<key>translation</key>
		<string>n. 扩大，扩张</string>
	</dict>
	<dict>
		<key>word</key>
		<string>encase</string>
		<key>phoneticSymbol</key>
		<string>/ɪn&apos;keɪs/</string>
		<key>translation</key>
		<string>vt. 装入，包住</string>
	</dict>
	<dict>
		<key>word</key>
		<string>invalid</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɪnvəlɪd/</string>
		<key>translation</key>
		<string>adj. 无效的，作废的；有病的，伤残的\nn. 病弱者，残疾者</string>
	</dict>
	<dict>
		<key>word</key>
		<string>unbiased</string>
		<key>phoneticSymbol</key>
		<string>/ʌn&apos;baɪəst/</string>
		<key>translation</key>
		<string>adj. 公正的，没有偏见的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>postpone</string>
		<key>phoneticSymbol</key>
		<string>/po&apos;spon/</string>
		<key>translation</key>
		<string>v. 延迟，延期</string>
	</dict>
	<dict>
		<key>word</key>
		<string>skim</string>
		<key>phoneticSymbol</key>
		<string>/skɪm/</string>
		<key>translation</key>
		<string>v. 撇去；掠过，擦过；浏览，略读</string>
	</dict>
	<dict>
		<key>word</key>
		<string>preface</string>
		<key>phoneticSymbol</key>
		<string>/&apos;prefəs/</string>
		<key>translation</key>
		<string>n. 序言，引言\nvt. 为...写序言；以...为开端</string>
	</dict>
	<dict>
		<key>word</key>
		<string>retain</string>
		<key>phoneticSymbol</key>
		<string>/rɪ&apos;teɪn/</string>
		<key>translation</key>
		<string>vt. 保留；保持</string>
	</dict>
	<dict>
		<key>word</key>
		<string>culminate</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kʌlmɪneɪt/</string>
		<key>translation</key>
		<string>vi.（以某种结果）告终；（在某一点）结束</string>
	</dict>
	<dict>
		<key>word</key>
		<string>robotic</string>
		<key>phoneticSymbol</key>
		<string>/ro&apos;bɑtɪk/</string>
		<key>translation</key>
		<string>adj. 机器人的；像机器人的，呆板而机械的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>profile</string>
		<key>phoneticSymbol</key>
		<string>/&apos;prəʊfaɪl/</string>
		<key>translation</key>
		<string>n. 面部的侧影，侧面轮廓；传略，人物简介\nvt. 扼要介绍；写简介</string>
	</dict>
	<dict>
		<key>word</key>
		<string>salinity</string>
		<key>phoneticSymbol</key>
		<string>/sə&apos;lɪnəti/</string>
		<key>translation</key>
		<string>n. 盐分，盐度</string>
	</dict>
	<dict>
		<key>word</key>
		<string>aggravation</string>
		<key>phoneticSymbol</key>
		<string>/ˌægrə&apos;veɪʃn/</string>
		<key>translation</key>
		<string>n. 加重；恶化；愤怒，恼怒</string>
	</dict>
	<dict>
		<key>word</key>
		<string>incident</string>
		<key>phoneticSymbol</key>
		<string>/&apos;ɪnsɪdənt/</string>
		<key>translation</key>
		<string>n. 发生的事；事件，事变</string>
	</dict>
	<dict>
		<key>word</key>
		<string>previous</string>
		<key>phoneticSymbol</key>
		<string>/&apos;priːvɪəs/</string>
		<key>translation</key>
		<string>adj. 以前的；在...之前的；早先的，稍前的</string>
	</dict>
	<dict>
		<key>word</key>
		<string>spice</string>
		<key>phoneticSymbol</key>
		<string>/spaɪs/</string>
		<key>translation</key>
		<string>n. 香料，调味品\nvt. 使添增趣味；往...加香料</string>
	</dict>
	<dict>
		<key>word</key>
		<string>bore</string>
		<key>phoneticSymbol</key>
		<string>/bɔː/</string>
		<key>translation</key>
		<string>v. 使厌烦；钻孔\nn. 令人讨厌的人（或事）</string>
	</dict>
	<dict>
		<key>word</key>
		<string>lull</string>
		<key>phoneticSymbol</key>
		<string>/lʌl/</string>
		<key>translation</key>
		<string>n. 间歇，暂停；平静期</string>
	</dict>
	<dict>
		<key>word</key>
		<string>county</string>
		<key>phoneticSymbol</key>
		<string>/&apos;kaʊntɪ/</string>
		<key>translation</key>
		<string>n. 郡，县</string>
	</dict>
	<dict>
		<key>word</key>
		<string>betray</string>
		<key>phoneticSymbol</key>
		<string>/bɪ&apos;treɪ/</string>
		<key>translation</key>
		<string>vt. 出卖，泄漏；辜负；流露情感</string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
	<dict>
		<key>word</key>
		<string></string>
		<key>phoneticSymbol</key>
		<string></string>
		<key>translation</key>
		<string></string>
	</dict>
</array>
</plist>
